<center>
<h1>
Third Session
</h1>
<h3>
Shiva Barzili
</h3>
</center>

In [5]:
"""Hi"""

In [6]:
"hi"

In [8]:
""Hi""

In [9]:
print "I'm Python. Nice to meet you!"

In [10]:
some_var = 5
some_var

In [11]:
"yahoo!" if 3 > 2 else 2

In [12]:
True and False

In [13]:
False or True

In [14]:
integer 5/2

In [15]:
5/2

In [16]:
5.0/2.0

In [17]:
5.00/2.00

In [18]:
"Hello " + "world!"

In [20]:
"Hello" * 3

In [21]:
"This is a string"[3]

In [1]:
"{name} wants to eat {food}".format(name="Bob", food="lasagna")

'Bob wants to eat lasagna'

In [7]:
li = []

In [8]:
other_li = [4, 5, 6]

In [13]:
li[0]

1

In [14]:
li[0] = 42
li[0]

42

In [16]:
li[0]

42

In [18]:
li[0] 
li[0]

42

In [19]:
li[1:3]

[1, 1]

In [20]:
tup = (1, 2, 3)
tup[0]

1

In [21]:
tup[0] = 3

TypeError: 'tuple' object does not support item assignment

In [22]:
len(tup)

3

In [23]:
tup + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [24]:
tup[:2]

(1, 2)

In [25]:
tup[:2]

(1, 2)

In [26]:
2 in tup

True

In [29]:
empty_dict = {}
filled_dict = {"one": 1, "two": 2, "three": 3}
filled_dict["one"]

1

In [30]:
filled_dict.keys()

['three', 'two', 'one']

In [31]:
filled_dict.values()

[3, 2, 1]

In [37]:
empty_set = set()
some_set = set([1, 2, 2, 3, 4])
filled_set = {1, 2, 2, 3, 4}
filled_set.add(5)

In [38]:
some_var = 5
if some_var > 10:
    print "some_var is totally bigger than 10."
elif some_var < 10:    # This elif clause is optional.
    print "some_var is smaller than 10."
else:           # This is optional too.
    print "some_var is indeed 10."

some_var is smaller than 10.

In [39]:
for animal in ["dog", "cat", "mouse"]:
    print "{0} is a mammal".format(animal)

dog is a mammal
cat is a mammal
mouse is a mammal

In [40]:
for i in range(4):
    print i

0
1
2
3

In [41]:
for i in range(4, 8):
    print i

4
5
6
7

In [42]:
x = 0
while x < 4:
    print x
    x += 1

0
1
2
3

In [47]:
def add(x, y):
    print "x is {0} and y is {1}".format(x, y)
    return x + y
add(5, 6)

x is 5 and y is 6

11

In [48]:
add(y=6, x=5)

x is 5 and y is 6

11

In [49]:
def varargs(*args):
    return args
varargs(1, 2, 3)

(1, 2, 3)

In [50]:
def keyword_args(**kwargs):
    return kwargs
keyword_args(big="foot", loch="ness")

{'big': 'foot', 'loch': 'ness'}